:root{
    --tooltipBG: rgba(32, 32, 32, 0.425);
}
  

/* GENERIC SHIT */
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.justify-center{
  justify-content: center;
}
.justify-right{
  justify-content: right;
}
.items-center{
  align-items: center;
}
.w-full{
  width: 100%;
}
.hidden{
  visibility: hidden;
}
.pointer{
  cursor: pointer;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.kick-btn{
  background-color: rgb(83 252 24 );
  color: rgb(31 41 55);
}
.kick-btn:hover{
  background-color: #00d321;
}

.tooltiptext {
    visibility: hidden;
    background-color: var(--tooltipBG);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 4px;
    position: fixed;
    z-index: 90;
}

.custom-btn:hover{
  background-color: rgba(173, 173, 173, 0.562);
}

.custom-btn{
  width: 100% !important;
  display: flex !important;
  border-radius: 5px !important;
  justify-content: center !important;
  align-items: center !important;
}
  
.profile-picture:hover .tooltiptext {
  visibility: visible;
}


/* Header */
.username{
  text-align: center;
  padding: 1px 4px;
}

/* Chat */
.chat-username{
  cursor: pointer;
}
.chat-username:hover{
  text-decoration: underline;
}


/* User Chat Box */
.chatbox-element::before {
  content: "";
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: var(--chatbox-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  --blur-amount: 2px;
  -webkit-filter: blur(var(--blur-amount));
  -moz-filter: blur(var(--blur-amount));
  -o-filter: blur(var(--blur-amount));
  -ms-filter: blur(var(--blur-amount));
  filter: blur(var(--blur-amount));
}
.chatbox-container{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  top:calc(var(--height) * -1);
  color:rgb(185, 193, 194);
}
.chatbox-element{
  --chatbox-image: "url('')";
  --height: 150px;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--height);
}

.chatbox-header{
  cursor: move;
}
.chatbox-pfpContainer{
  padding: 0px 15px;
}
.chatbox-userdetails{
  padding: 5px;
}
.chatbox-interactions{
  justify-content: center;
  gap: 10%;
}