:root{
  --tooltipBG: rgba(32, 32, 32, 0.425);
  --outline-color:#000;
}

/* GENERIC */
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.justify-center{
  justify-content: center;
}
.justify-right{
  justify-content: right;
}
.items-center{
  align-items: center;
}
.w-full{
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.display-none{
  display: none !important;
}

.flip-x{
  transform: scale(-1, 1);
}

.color-black{
  color:black;
}

.custom-tooltip[title]:hover:after, .custom-tooltip-secondary[title]:hover:after{
    content: attr(title);
    position: absolute;
    pointer-events: none;
    top: -1.5rem;
    z-index: 50;
    border-radius: 4px;
    background-color: #00000080;
    padding: 0.375rem;
    font-size: .875rem;
    line-height: 1.25rem;
    line-height: 1;
}
.custom-tooltip-secondary[title]:hover:after{
  background-color: #e0e0e0 !important;
}

/* CHAT SIZING  */
.kp-fontsize .message div:has(> span){
  font-size: var(--kp-default-chat-font-size);
  line-height: var(--kp-default-chat-line-height);
}
.kp-fontsize .message div:has(> img){
  width: var(--kp-default-chat-image-size);
  height: var(--kp-default-chat-image-size);
}
.kp-fontsize .message div:has(> svg){
  width: var(--kp-default-chat-svg-size);
  height: var(--kp-default-chat-svg-size);
}

/* REACT HIDER */
.kp-react-hider .message > div > div > div:nth-child(2){
  display: none !important;
}


.text-outline{
  color:white;
  text-shadow: -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color), -1px 1px 0 var(--outline-color), 1px 1px 0 var(--outline-color);
}

.kick-btn{
  background-color: rgb(83 252 24 );
  color: rgb(31 41 55);
}
.kick-btn:hover{
  background-color: #00d321;
}

.tooltiptext {
    visibility: hidden;
    background-color: var(--tooltipBG);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 4px;
    position: fixed;
    z-index: 90;
}

.custom-btn:hover{
  background-color: rgba(173, 173, 173, 0.562);
}

.custom-btn{
  width: 100% !important;
  display: flex !important;
  border-radius: 5px !important;
  justify-content: center !important;
  align-items: center !important;
}
  
.profile-picture:hover .tooltiptext {
  visibility: visible;
}


/* Header */
.username{
  text-align: center;
  padding: 1px 4px;
}

/* Chat */
.chat-username{
  cursor: pointer;
}
.chat-username:hover{
  text-decoration: underline;
}

